.priceCards {
  border-radius: 20px;
  border: 2px solid blue;
  height: 500px;
  padding: 2rem;
}

.priceCards:hover {
  background-color: white !important;
  transition: 800ms;
  cursor: pointer;
  
  h2 {
    color: red; 
    transition: 800ms;
  }
  
  h3 {
    color: red;
    transition: 800ms;
  }
  
  li {
    color: red;
    transition: 800ms;
  }
}


